.app {
  min-height: 100vh;
  background: #0f172a;
  padding: 30px;
  color: white;
  font-family: Arial, sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  border-radius: 15px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.meal-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.category {
  font-size: 14px;
  color: #cbd5f5;
}